@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,700&family=STIX+Two+Text:wght@700&display=swap");

:root {
  --color-p-1: #002329;
  --color-p-2: #004552;
  --color-p-3: #00687a;
  --color-p-4: #008ba3;
  --color-p-5: #00adcc;
  --color-p-6: #00d0f5;
  --color-p-7: #1fddff;
  --color-p-8: #47e3ef;
  --color-p-9: #70eaff;
  --color-p-10: #99f0ff;
  --color-p-11: #c2f6ff;

  --color-p1: #ffede1;
  --color-p2: #f9fbf2;
  --color-p3: #d7f9ff;
  --color-p4: #afcbff;
  --color-p5: #0e1c36;

  --color-logo: #cadefc;
  --color-light: #ccdffc;
  --color-lighter: rgb(226, 237, 253);
  --color-darker: #77aaf7;
  --color-logo-dark-light: #25426d;
  --color-logo-dark: #1d3354;
  --color-logo-dark-2: #0f1a29;
  --color-logo-dark-3: #091322;
  --color-background: #fdfdfd;
  --color-gold: rgb(230, 215, 132);
  --color-gold-half: rgba(230, 215, 132, 0.7);
  --color-gold-dark: rgb(124, 116, 70);

  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --color-white: #fff;
  --color-black: #222;
  --transition: all 0.21s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1520px;
  --fixed-width: 620px;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img:not(.nav-logo) {
  display: block;
}

body {
  overflow-x: hidden;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: var(--clr-white);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
hr {
  border: none;
  border-top: 1px solid var(--clr-grey-8);
}
h1,
h2,
h3,
h4,
h5 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.25rem;
}
h5 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-3);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1.5rem;
  }
  h5 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1.25;
  }
}
/*  global classes */

/* section */
.section {
  padding: 5rem 0;
}
.section-center {
  width: 93vw;
  margin: 0 auto;
  max-width: var(--max-width);
}

@media screen and (min-width: 992px) {
  .section-center {
    width: 93vw;
  }
}
.text-center {
  text-align: center;
}
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.loading {
  width: 6rem;
  height: 6rem;
  margin: 0 auto;
  margin-top: 10rem;
  border-radius: 50%;
  border: 4px solid #ccc;
  border-top-color: var(--clr-primary-5);
  animation: spinner 0.6s linear infinite;
}
